html, body{
font-family: 'lib', sans-serif;
background-color: #eee;
   padding: 0;
    margin: 0;
    cursor: url('../images/fig01.png'), crosshair;
}

@font-face {
    font-family: 'lib';
    src: url(WorkAvec-Medium.ttf);
}

body {
    opacity: 1;
    transition: 2s opacity;

}


body.fade-out {
    opacity: 0;
    transition: none;
}

.main{
    /* background: lightgrey; */
    position: relative;
    z-index: 4;
    margin-bottom: 180px;
  }

a.linkNav{ 
  color: black;
  text-decoration: none;
 }  

 a.linkNav:active {
  text-decoration: underline;
}

p{
	font-size: 40px;
}
.info{
  width: 95%;
  margin-left: 25px;
  line-height: 1.2;
}

.workss:hover {
  color: #eee;
/*  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;*/
}
.main{
      overflow-y: auto;
}
.hey{
  -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */

        position: fixed;
    transform: rotate(270deg);
    font-size: 18px;
    color: black;
    bottom: 150px;
}
.copy{
   -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    position: fixed;
    font-size: 16px;
    bottom: 300px;
    right: -30px;
}
/* -----------------------------------  POST iT MAIN PAGE -----------------------------------  */
.popupInfo{
   background-color: lightgray;
    /* bottom: 59px; */
    height: 530px;
    position: fixed;
    width: 550px;
    z-index: 20;

}
.popupInfo-Wrap {
    word-wrap: break-word;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 20px;
font-weight: 400;
}
.closingInfo:before {
    content: '\2715';
    float: left;
    margin: 0;
    text-indent: 0;
    font-size: 31.2px;
  }
.closingInfo {
       position: relative;
       left: calc( 72% + 110px );
    top: 15px;
    z-index: 100;
    width: 32px;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    /* right: 10px; */
    /* top: 7px; */
    cursor: pointer;
  }

.alex{
  background-color: floralwhite;
    bottom: 59px;
    position: fixed;
    top: 35%;
    right: 70px;
    /* bottom: 50px; */
    width: 24%;
    height: 46%;
    z-index: 20;
}
.ho{
/*  margin-top: 300px;
    margin-bottom: 300px;*/
}
.brad{
  background-color: honeydew;
    bottom: 59px;
    position: fixed;
  left: 41.8125px;
    top: 69.7969px;
    /* bottom: 50px; */
    width: 24%;
    height: 46%;
    z-index: 20;
}
.popup {
    background-color: rgb(255, 255, 86);
    bottom: 59px;
    position: fixed;
    top: 15%;
    left: 130px;
    /* bottom: 50px; */
    width: 24%;
    height: 46%;
    z-index: 20;
}
#popup3{
    background-color: lightgray;
    bottom: 59px;
    position: fixed;
    top: 15%;
    left: 130px;
    /* bottom: 50px; */
    width: 24%;
    height: 46%;
    z-index: 20;
}

.popup-wrap {
      word-wrap: break-word;
    position: absolute;
    /* font-size: 20px; */
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 20px;
  }
.intro{
  font-size: 35px;
    line-height: 1.4;
    margin-left: 60px;
}
.experience{
    margin-left: 60px;
    font-size: 20px;
    margin-top: 30px;
}
#Aboutt{
  margin-top :100px;
}
#AboutId{
  text-decoration: underline;
}
#projId{
  text-decoration: underline;
}
.aboutexp{
    font-size: 16px;
    line-height: 1.4;
}
.exp{
  font-size: 25px;
    margin-bottom: 0px;
}
.closebtn:before {
    content: '\2715';
    float: left;
    margin: 0;
    text-indent: 0;
    font-size: 31.2px;
  }

.closebtn {
       position: relative;
    left: calc( 50% + 110px );
    top: calc( -5% + 30px );
    z-index: 100;
    width: 32px;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    /* right: 10px; */
    /* top: 7px; */
    cursor: pointer;
  }

  .closealex:before {
    content: '\2715';
    float: left;
    margin: 0;
    text-indent: 0;
    font-size: 31.2px;
  }
.closealex {
    position: relative;
    left: calc( 50% + 110px );
    top: calc( -5% + 30px );
    z-index: 100;
    width: 32px;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    /* right: 10px; */
    /* top: 7px; */
    cursor: pointer;
  }

  .closebrad:before {
    content: '\2715';
    float: left;
    margin: 0;
    text-indent: 0;
    font-size: 31.2px;
  }
.closebrad {
    position: relative;
    left: calc( 50% + 110px );
    top: calc( -5% + 30px );
    z-index: 100;
    width: 32px;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    /* right: 10px; */
    /* top: 7px; */
    cursor: pointer;
  }

.postit{
  font-size: 25px;
    line-height: 1.2;
}
#postit3{
  font-size: 20px;
    line-height: 1.2;
}
.postitPerso{
  font-size: 20px;
  line-height: 1.3;

}
#txtPostIt{

}

.persoLink:hover{
  background-color: yellow;
}

.linav:hover{
text-decoration: underline;
}

.nav-list li{
	    display: inline;
    margin-left: 3.6875vw;
}
.nav-list {
        text-align: right;
    font-size: 25px;
    /* text-transform: uppercase; */
    /* margin-bottom: 4.16667vw; */
    /* margin-top: 4.6875vw; */
    position: fixed;
    background-color: #EEE;
    z-index: 20;
    right: 0px;
    top: 0px;
    margin-top: 0px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    /* border-bottom: 1px black solid; */
    color: black;
    margin-right: 60px;
    /* margin-top: 20px; */
    list-style: none;
  }

  .Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
/*  height: 500px;
*/}

.imgp {
    max-width: 50%;
    display: none;

}

#contact:hover{
  background-color: yellow;
}

.Al{
  position: fixed;
    z-index: 10;
    /* position: absolute; */
    top: 70px;
    right: 0;
    /* width: 40%; */
}
.Br{
  position: fixed;
    z-index: 10;
    /* position: absolute; */
    /* width: 40%; */
        left: 193px;
    top: 339px;
}
  
.hoverim{
  display: none
}

.picAlex{
      border: 5px solid floralwhite;

}

.picBrad{
      border: 5px solid honeydew;
}

.picBrad2{
      border: 5px solid honeydew;
         position: fixed;
    z-index: 10;
        left: 327px;
    top: 18px;
}

.picBrad3{
      border: 5px solid honeydew;
    left: 468px;
    top: 247px;
    position: fixed;
    z-index: 11;

}
.picBrad4{
    border: 5px solid honeydew;
    position: fixed;
    z-index: 11;
        left: -17px;
    top: 389px;

}

.workss:hover + .hoverim{
      display: initial;
    /* width: 53%; */
    /* top: -10px; */
    position: absolute;
    top: 0px;
    right: 10px;
/*    opacity: 0.8;
*/    z-index: -10;
/*    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;*/
   
  }

.work{
       margin-top: 80px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation{
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 20;
    background-color: #EEE;
  }

  .logobra{
      max-width: 80px;
    float: left;
    font-size: 25px;
    margin-top: 20px;
    z-index: 30;
    position: fixed;
    margin-left: 60px;
  }
.works{
  text-align: center;
}
.workss{
font-size: 75px;
    /* margin: 0px; */
    /* text-align: center; */
    margin-top: 0px;
    margin-bottom: -10px;
    z-index: 3;
    text-transform: capitalize;
}

.sup{
position: relative;
    left: 0;
    top: -20px;
    font-size: 20px;
}

#bg{
     position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1720px;
    z-index: 1;
    background: #EEE;
}
.workss p{
      white-space: nowrap;

}
.imgC{
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    /* height: 1720px; */
    z-index: 2;
}

#1i{
  display: table-column;
    /* top: 220px; */
    left: 0;
    right: 0;
    max-width: 450px;
}
footer{
  border-top: 1px solid black;
    width: 100%;
    /* height: 0px; */
    padding-left: 60px;
    padding-top: 20px;
      padding-bottom: 20px;
}

.marquee {
  width: 700px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #ccc;
}

.foootertxt{
        padding: 0;
    margin: 3px 0;
    /* text-transform: uppercase; */
    font-size: 18px;
}



.back{
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
}
.projectsss{
      width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    z-index: 20;
        overflow-y: scroll;
}
.contenu{
  margin-left: 20px;
}

.titleproj{
  position: absolute;
    top: -25px;
    left: 20px;
    text-decoration: underline;
}
img{
      max-width: 500px;
}
.imgp{
      position: absolute;
}

.all{
    width:100%;
    float:left;
    text-align:center;
}
div.sub, iframe {
    margin: 0 auto;
}
div.sub, img {
    margin: 0 auto;
}

